$blue:    #1976D2 !default;
$indigo:  #303f9f !default;
$purple:  #6a1b9a !default;
$pink:    #f3a4b5 !default;
$red:     #f5365c !default;
$orange:  #fb6340 !default;
$yellow:  #ffd600 !default;
$green:   #2dce89 !default;
$teal:    #00695c !default;
$cyan:    #2bffc6 !default;

$default:       #455A64 !default;
$primary:       $indigo !default;
$secondary:     #f7fafc !default;